yarn
zed/*
!zed/settings.json
!zed/keymap.json
!zed/keymap_backup.json

raycast
zsh/.zsh_history
zsh/.zcompdump*
zsh/ohmyzsh

.vim/bundle
log
tags*
.secret
.venv
packer_compiled.lua

nvim/tags
nvim/test.sh
nvim/.luarc.json
nvim/nvim
nvim.bak
nvim-backup
github-copilot
